{% extends "base.html" %}
{% block active %}"#nav-assets"{% endblock %}
{% block container %}
    <div class="container theme-showcase" role="main">
		
 <h2 class="page-header"><span class="glyphicon glyphicon-hdd"></span> Assets <span class="label label-default">{{ assets|length }}</span><a class="pull-right" style="color:inherit" href="/api/csv/assets/" title="Download as CSV" alt="Download as CSV"><span class="glyphicon glyphicon-download"></span></a></h2>
 {% if assets %}
	  <div class="table-responsive">
		<table class="table table-condensed table-striped">
		  <thead>
			<tr>
			  <th>Tag</th>
			  <th>Description</th>
			  <th>Building</th>
			  <th>Location</th>
			  <th>Found</th>
			  <th>Official</th>
			  <th>Image</th>
			</tr>
		  </thead>
		  <tbody>
		    {% for asset in assets %}
			<tr>
			  <td><a href="{% url 'CECSAM.views.asset' asset_tag=asset.tag %}">{{ asset.tag }}</a></td>
			  <td>{{ asset.description|upper }}</td>
			  <td><a href="{% url 'CECSAM.views.building' building_short=asset.location.building %}">{{ asset.location.building }}</a></td>
			  <td><a href="{% url 'CECSAM.views.location' location_id=asset.location.id %}">{{ asset.location.room|default:"_" }}</a></td>
			  <td>{% if asset.found %}<div style="color: transparent;font-size: 0;">Y</div><span class="glyphicon glyphicon-ok"></span>{% else %}<div style="color: transparent;font-size: 0;">N</div><span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
			  <td>{% if asset.official %}<div style="color: transparent;font-size: 0;">Y</div><span class="glyphicon glyphicon-ok"></span>{% else %}<div style="color: transparent;font-size: 0;">N</div><span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
			  <td>{% if asset.picture %}<div style="color: transparent;font-size: 0;">A</div><a href="{{ asset.picture.url }}"><span class="glyphicon glyphicon-picture"></span></a>{% endif %}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
 {% else %}
    <p>No Assets are available.</p>
 {% endif %}
	</div>
    </div> <!-- /container -->
{% endblock %}
