{% extends "base.html" %}
{% block active %}"#nav-buildings"{% endblock %}
{% block container %}
<div class="container theme-showcase" role="main">  
<div class="row">
         <div class="col-lg-8">
                <ol class="breadcrumb">
                        <li class="active">{{ building }}</a></li>
                </ol>
        </div> <!-- /col-lg-8 -->
        </div> <!-- /row -->

 
<h2 class="page-header"><span class="glyphicon glyphicon-home"></span> {{ building }} <small>({{ locations|length }} Location{{ locations|length|pluralize }})</small> <span class="label label-default">{{ building.asset_count }} {% if building.allFound %}<span class="glyphicon glyphicon-star"></span>{% else %}<span class="glyphicon glyphicon-star-empty"></span>{% endif %}</span></h2>
{% if locations %}
	<div class="list-group col-lg-8">
                {% regroup locations|dictsort:"building.name" by building.name as locations_list %}
		{% for location in locations_list %}
	                {% for l in location.list|dictsort:"room" %}
			{% if l.asset_set.all.count %}<a href="{% url 'CECSAM.views.location' location_id=l.id %}" class="list-group-item"><span class="badge">{{ l.asset_set.all.count }}</span> {% if l.allFound %}<span class="glyphicon glyphicon-star"></span>{% else %}<span class="glyphicon glyphicon-star-empty"></span>{% endif %} {{ l.building.name }} {{ l.room }} - {{ l.building.longName }}</a>{% endif %}
			{% endfor %}
		{% endfor %}
	</div><!-- /list-group -->
{% else %}
    <p>No Locations are available.</p>
{% endif %}
 
</div>
{% endblock %}
