{% extends 'base.html' %}
{% block active %}"#nav-search"{% endblock %}
{% block container %}
<div class="container theme-showcase" role="main">
		<label for="assetTag">Asset Tag</label>
		<input type="text" class="form-control" id="assetTag" name="assetTag" placeholder="Enter Asset Tag" autofocus>
</div>
<ul id="tags">
</ul>
{% endblock %}
{% block extraJS $}
$( document ).ready(function() {$("#assetTag").keyup(function(event){
    if(event.keyCode == 13){
  	$("#tags").append("<li>"+$( "#assetTag" ).val()+"</li>");
  	$( "#assetTag" ).val("");
    }
});}

{$ endblock $}
